@import "./common/common.scss";

.popup_wrap{
  background-color: rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position:fixed;
  z-index: 10000;

  .popup_box{
    width: 50vw;
    height: 10vw;
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -26vw;
    margin-top: -5vw;
    background-color: $white;
    text-align: center;
    span{
      font-family: $ndicB;
      font-size:2vw;
    }
    .close_Btn{
      position: absolute;
      margin-top: -3vw;
      right: 0%;
      color : $white;
      cursor: pointer;
    }
    .popup_con span{
      color: $udgreen;
      line-height: 9.9vw;
      // text-shadow: 0.1vw 0.1vw rgba( 16, 103, 53,0.4);
    }
  }
}