@import "./common.scss";

// 픽스드박스
.fixed_box{
    position: fixed;
    float: right;
    right:5%;
    bottom: 0%;
    text-align: center;
    border: 3px solid $white;
    font-family: NamugodicB;
    z-index: 1000;

    a{
        width: 150px;
        height:3em;
        line-height: 2.9em;
        font-size: 2em;
        display: block;
        text-decoration: $none_style;
        color: $white;
        background-color: $udgreen; 
    }
    a:hover{
        background-color: $white; 
        color: $green;
    }

    .event_counter{
        width: 150px;
        height:5em;
        font-size: 1.2em;
        line-height: 2.4em;
        background-color: $green;
        color:$white;
        text-shadow: 3px 3px $udgreen;
    }
}